@mixin responsive($width) {
  @media (max-width: $width) {
    @content;
  }
}

aside {
  width: 320px;
  background-color: #fff;
  box-shadow: 0 0 14px 0 rgba($color: #000000, $alpha: 0.02);
  border-radius: 2px;
  padding: 30px 20px;
  margin: 0;
  box-sizing: border-box;
  @include responsive(1050px) {
    width: 100%;
  }
}

main {
  flex: 1;

  @include responsive(1050px) {
    margin-left: 0;
    margin-top: 30px;
  }

  ul {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    list-style: none;

    @include responsive(1050px) {
      padding: 0;
    }

    @include responsive(650px) {
      grid-template-columns: 1fr;
      padding: 0;
    }
  }
}
