@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

@mixin responsive($width) {
  @media (max-width: $width) {
    @content;
  }
}

body,
input,
button {
  font-family: Roboto, sans-serif;
}

.App {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 30px;
  display: flex;
  align-items: flex-start;

  @include responsive(1050px) {
    flex-direction: column;
  }
}
